@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

h1,h2,h3,h4,h5,h6,p {
}

body, html {
  height: 100%;
  margin: 0;
}

a {
  color: black;
}

.bg {
    /* The image used */
  background: linear-gradient(
    rgba(58, 8, 57, 0.9),
    rgba(58, 8, 57, 0.9)
  ), url("background.svg");
}

/* Game Streamer styles */
nav#gs-header a, nav#gs-header button {
  color: white;
}

nav#gs-header a:hover {
  text-decoration: underline;
}

#gs-header {
  white-space: nowrap;
  padding: 0;
}

.row > .gs-sidenav {
  padding: 3rem 0 1rem;
  margin: 0;
}

.gs-sidenav {
  background-color: #17141F;
  overflow-y: hidden;
}

.gs-sidenav h6 {
  color: #B8B5C0;
  margin: 10px;
}

.gs-sidenav .gs-hr {
  background-color: #2C2541;
  margin: 5px;
}

.gs-sidenav ul li.list-group-item {
  background-color: #17141F;
  padding: 5px 10px;
  cursor: pointer;
}

.gs-sidenav ul li.list-group-item:hover {
  background-color: #2C2541;
  text-decoration: none;
}

.gs-sidenav ul li.list-group-item a:hover {
  text-decoration: none;
}

.gs-landing {
  margin: 0 15px;
  padding-top: 1.5rem;
  min-height: 92.5vh;
}

.navbar-header #game-streamer {
  color: white;
}

#root nav.navbar form input {
  color: black;
}

li {
  list-style-type: none;
}

#gs-embed {
  max-width: 1420px;
}

.gs-stream-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: .5rem;
  color: #4A484F;
}

.gs-stream-info a {
  color: #6441A4;
}

.gs-game-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: .5rem;
  color: #4A484F;
  font-size: .9rem;
}

.gs-game-info a {
  color: #4A484F;
}

.gs-avatar {
  width: 3rem;
  height: 3rem;
}

.gs-avatar img, .gs-avatar-40 img {
  width: 100%;
}

.gs-avatar-40 {
  width: 40px;
  height: 40px;
}

.gs-figure {
  margin: 0 0 .5rem;
}

.gs-name, .gs-game {
  color: #6441A4;
}

.profile-image {
  margin: .3rem .5rem 0 0;
}

#gs-channel-info {
  position: absolute;
  width: 100%;
} 

#gs-channel-info .gs-stream-info {
  font-size: 1rem;
}

.text-16 {
  font-size: 1rem;
}

.text-14 {
  font-size: 0.95rem;
}

.text-12 {
  font-size: 0.87rem;
}

.gs-views {
  color: #6E6779;
}

img.media-object {
  max-width: 30px;
}

.media-body {
  color: #898395;
  margin-left: 10px;
  font-size: .75rem;
}

.media-heading {
  color: #B8B5C0;
  font-size: .875rem;
}

/* embedTwitchCSS -- Copyright (c) 2016 Gregle */
.twitchWrapper {
  position: relative;
}

.twitchStream {
  position: relative;
  width: 75%;
}

.topStream, .gs-clip {
  position: relative;
  max-width: 100rem;
}

.twitchStream:before, .topStream:before, .gs-clip:before {
  content: "";
  display: block;
  padding-top: 56.25%; /* 16:9 */
}

.twitchWrapper:after {
  content: "";
  display: block;
  padding-top: 10rem; /* 16:9 */
}

.twitchChat {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25%;
}

.twitchStream iframe, .twitchChat iframe, .topStream iframe, .gs-clip iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .twitchStream{
    width: 100%;
  }
  .twitchChat{
    display: none;
  }
}

.gs-col-right {
  margin: 10px 0 0 10px;
  flex: 1 0 20%;
}

@media only screen and (max-width: 1200px) {
  .gs-col-left {
    display: none;
  }
}

/* Main styles */

.box {
  position: relative;
  height: 400px;
  width: 600px;
  border: none;
  background: none;
}

.line-1 {
  position: absolute;
  background: #6AC0D6;
  height: 50%;
  bottom: 25%;
  width: 5%;
  left: 45%;
  z-index: 1;
}

.line-2 {
  position: absolute;
  background: #89E5F6;
  height: 50%;
  bottom: 25%;
  width: 5%;
  left: 50%;
  z-index: 1;
}

.triangle {
  position: absolute;
  height: 40%;
  width: 200%;
  top: -20%;
  left: -100%;
  background: #08517A;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: 2;
}

.triangle-sm {
  position: absolute;
  height: 30%;
  width: 100%;
  top: -15%;
  left: -0%;
  background: #6AC0D6;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: 2;
}

.shine {
  position: absolute;
  height: 20%;
  width: 100%;
  top: 90%;
  background: #B2E4F6;
  animation: shine 0.8s infinite;
  z-index: 3;
}


.line-3 {
  position: absolute;
  background: #89E5F6;
  height: 30%;
  bottom: 25%;
  width: 5%;
  left: 40%;
  z-index: 1;
}

.line-4 {
  position: absolute;
  background: #08517A;
  height: 35%;
  bottom: 25%;
  width: 5%;
  left: 55%;
  z-index: 1;
}

@keyframes shine {
  0%{
    top: 100%;
  }
  100%{
    top: -10%;
  }
}

.stream-card {
  padding: 0 1rem 1.5rem;
  width: 360px;
}

.stream-cover {
  position: relative;
  margin: 0 10px 0 0;
  width: 100%;
}

.game-card {
  padding: 0 .5rem 1rem;
  min-width: 140px;
}

.game-card img {
  width: 100%;
}

.game-cover {
  position: relative;
  margin: 0 10px 0 0;
}

.iffyTip {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.gs-btn {
  background: transparent;
}

.gs-center {
  margin: 0 auto;
}

.gs-control {
  display: inline-block;
  width: 70%;
}

#gs-logo {
  width: 80%;
  height: auto;
}

a#gs-logout:hover {
  cursor: pointer;
}

.dropdown {
    float: left;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 120px;
    right: -16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    /*background-color: #ddd;*/
}

.dropdown:hover .dropdown-content {
    display: block;
}

.gs-hidden {
  visibility: hidden;
}